/*
* Author: Bijiabo
* Description: 项目自定义样式
*/

#indicator {
    text-align: center;
    padding-top: 20px;
}

#direction-keyboard {
    position: relative;
    width: 100%;
    height: 500px;
}

#keys-container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top: -150px;
    background-color: #ffffff;
    /*     border: 1px solid #cccccc; */
    border-radius: 50%;
    /* overflow: hidden; */
    /* box-shadow: 0 10px 0 #D0D0D0; */
}

.keys-box {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.keys-box .key {
    position:relative;
    top:0;
    left:0;
    float: left;
    width: 50%;
    height: 50%;
    box-shadow: 0 0 1px rgba(0,0,0,0.2);/*,10px 10px 1px rgba(0,0,0,0.2);*/
    background-color: white;
    z-index: 20;
    /* box-shadow: -20px -20px 0px rgb(236, 236, 236) inset,20px 20px 0px rgb(236, 236, 236) inset; */
}

.keys-box .center-key {
    position: absolute;
    top:50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    background-color: #EAEAEA;
    border-radius: 50%;
    border: 1px solid #EAEAEA;
    z-index: 30;
    overflow: hidden;
}

.keys-box .center-key:before {
    content: "";
    position: absolute;
    top: 0;
    left: 15px;
    width: 68px;
    height: 100%;
    transform: rotate(-45deg);
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

.keys-box .center-key:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ffffff;
    -webkit-transition:0.3s ease;
    -moz-transition:0.3s ease;
    -webkit-transition-property:all;
    -moz-transition-property:all;
}

.keys-box .center-key.active:after {
    top: 10px;
    left: 10px;
    background-color: #C5E3FF;
    /*box-shadow: 10px 10px 1px rgba(0,0,0,0.2) inset;*/
}

.keys-box .key.active {
    top: 10px;
    left: 10px;
    background-color: #C5E3FF;
    box-shadow: 0 0 1px rgba(0,0,0,0.2);/*,10px 10px 1px rgba(0,0,0,0.2);*/
    /*z-index:-1;*/
}

.keys-box .key:after {
    -webkit-transition:0.3s ease;
    -moz-transition:0.3s ease;
    -webkit-transition-property:all;
    -moz-transition-property:all;
}

.keys-box .key.active:after {
    background-color: #C5E3FF;
}

.keys-box .keys-box-shadow{
    content: "";
    position: absolute;
    top:10px;
    left: 10px;
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
    border-radius: 50%;
    overflow: hidden;
    z-index: -1;
}
.keys-box .keys-box-shadow:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 212px;
    height: 100%;
    margin-left: -106px;
    background-color: #EAEAEA;
    transform: rotate(-45deg);
    z-index: -1;
}

/* for 3D effects */

/* key-up */

.key.key-up {
    overflow: visible;
    z-index: 1;
}

.key.key-up:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 100% 0 0 0;
    box-shadow: 0 0 1px rgba(0,0,0,0.2);
    /*z-index: 2;*/
}

.key.key-up .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    border-radius: 50%;
    /*z-index: -2;*/
    /*overflow: hidden;*/
    transform: rotate(-45deg);
}

/*.key.key-up.active .shadow {*/
/*!*top: -150px;*!*/
/*!*left: -150px;*!*/
/*}*/

.key.key-up .shadow:before {
    content: "";
    position: absolute;
    top: 44px;
    left: 50%;
    width: 212px;
    height: 20px;
    margin-left: -106px;
    background-color: #EAEAEA;
    z-index: -1;
}

/* key-down */

.key.key-down {
    overflow: visible;

}

.key.key-down:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 0 0 100% 0;
    box-shadow: 0 0 1px rgba(0,0,0,0.2);
    z-index: 2;
}

.key.key-down .shadow {
    position: absolute;
    top: -140px;
    left: -140px;
    width: 200%;
    height: 200%;
    border-radius: 50%;
    z-index: 2;
    overflow: hidden;
    transform: rotate(-45deg);
}

.key.key-down.active .shadow {
    top: -150px;
    left: -150px;
}

.key.key-down .shadow:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 212px;
    height: 58px;
    margin-left: -107px;
    background-color: #EAEAEA;
    z-index: -1;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}